#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.toast-container {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: #38bdf8; 
  color: #000;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
  z-index: 9999; 
  pointer-events: none;
  animation: toast-fade-in 0.4s ease-out;
}

@keyframes toast-fade-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


#root {
  text-align: left; 
  max-width: 100%;  
  margin: 0;
  padding: 0;
}





.skeleton-card {
    pointer-events: none;
    border-color: #334155 !important;
}

.skeleton-image {
    width: 100%;
    aspect-ratio: 2/3; 
    background: #1e293b;
}

.skeleton-text {
    background: #334155;
    border-radius: 4px;
    margin-bottom: 10px;
}

.skeleton-title {
    width: 80%;
    height: 1.2rem;
}

.skeleton-genre {
    width: 50%;
    height: 0.85rem;
}

.skeleton-button {
    margin-top: auto;
    width: 100%;
    height: 40px;
    background: #334155;
    border-radius: 6px;
}


.shadow-pulse {
    animation: bluePulse 1.5s infinite ease-in-out;
}

@keyframes bluePulse {
    0% {
        background-color: #1e293b;
        box-shadow: 0 0 0 rgba(56, 189, 248, 0);
    }
    50% {
        background-color: #334155;
        /* Subtle glow using your UI blue */
        box-shadow: 0 0 15px rgba(56, 189, 248, 0.15);
    }
    100% {
        background-color: #1e293b;
        box-shadow: 0 0 0 rgba(56, 189, 248, 0);
    }
}

